* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: red;
}
.these {
  color: pink;
}
.those {
  color: blueviolet;
}
.make-bold {
  font-weight: bold;
}
.putitonpurple {
  background-color: rgb(184, 145, 221);
  border-radius: 30px;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    "sans-serif";
}
.links-regular {
  font-family: "Poor Richard";
}
.youfunnybugger {
  font-family: "Comic Sans Ms";
  font-size: smaller;
}
.rounds {
  border-radius: 20px;
  background-color: white;
  border: 2px solid purple;
  padding: 12px;
  margin: 0px 0px 5px 5px;
  padding: 12px;
}

.banner {
  display: flex;
  justify-content: flex-start;
  background-color: orangered;
  color: purple;
  text-align: left;
  padding: 20px;
  border: 0px;
}
.font {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.testyourflex {
  display: flex;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  margin: 3px 5px 3px 5px;
  gap: 3px;
  border: solid black 2px;
  background-color: cornflowerblue;
}
.bluebg {
  background-color: lightblue;
  border: solid black 1px;
}
.redbg {
  background-color: lightcoral;
  border: solid black 1px;
}
.greenbg {
  background-color: lightgreen;
  border: solid black 1px;
}
